# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment
.env
.env.*
!.env.example

# Build outputs
/build
/.svelte-kit
/package

# IDE
.vscode
.idea
.history/
*/.history/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store